.btn-container {
    display: flex;
    justify-content: center;
}

.btn-container button {
    width: 200px;
    border-radius: 10px 0 0 10px;
}

.btn-content {
    text-transform: uppercase;
}

.btn-content h6 {
    color: #fff;
    font-size: 0.8em;
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
    width: 50px;
    height: 50px;
    background-color: #33569b;
    color: #FFF;
}

@media (min-width: 576px) {
    .btn-container button {
        width: 300px;
    }
    .btn-icon {
        width: 70px;
        height: 70px;
    }
    .btn-content h6 {
        font-size: 1.2em;
    }
}

@media (min-width: 1200px) {
    .btn-container {
        justify-content: flex-start;
    }
}